@import url('https://fonts.googleapis.com/css2?family=Bigshot+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@900&display=swap');


body {
  font-family: 'Montserrat', sans-serif;
}
.App {
  background-color: '#162447';
}
.block {
  background-color: rgb(85, 85, 85);
  height: 5px;
  width: 28px;
  margin-left: 18px;
}
.profile {
  text-align: center;
  margin-top: 50px;
}
.profile img{
  border-radius: 50%;
  box-shadow: 0px 0px 48px 0px #505050;
}
.profile h1 {
  color: #3f3f3f;
  font-family: 'Work Sans', sans-serif;
  font-size: 3.5rem;
  margin-top: 24px;
}
.title-logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: rgb(85, 85, 85);
  margin-left: 200px;
  margin-right: 300px;
  font-size: 24px;
}

.stock-name-big {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: rgb(85, 85, 85);
  font-size: 100px;
}
.stock-name-small {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: rgb(85, 85, 85);
  font-size: 40px;
}

.stock-title {
  font-family: 'Alfa Slab One';
  color: rgb(85, 85, 85);
  margin-left: 18;
  padding-bottom: 0;
  margin-top: 20;
}